

@import url("https://fonts.googleapis.com/css?family=Roboto:regular700&display=swap");


@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeue-Roman.woff2') format('woff2'),
        url('../fonts/HelveticaNeue-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeue-ExtBlackCond.woff2') format('woff2'),
        url('../fonts/HelveticaNeue-ExtBlackCond.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeueBoldCondensed.woff2') format('woff2'),
        url('../fonts/HelveticaNeueBoldCondensed.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
/* ОБНУЛЕНИЕ СТИЛЕЙ */

/* &display=swap
&subset=cyrillic-ext */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px; /* по умолчанию */
}
body {
	line-height: 1;
}
.wrapper {
	overflow: hidden;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	background: #1A1A1A;
}

/* ------------------------------ */
//Переменные: $nane: значение (пример 30px)

//-----------------------------------

// Шаблоны %nane {свойства}, вызов шаблона @extend %name;
%lable {
	.lable {
		font-weight: 900;
		font-size: 100px;
		letter-spacing: 0.2em;
		color: #303030;
	}
	.sub-lable {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 36px;
		letter-spacing: 0.2em;
		text-transform: capitalize;
		color: #D9D9D9;			
	}
}
%hr {
	width: 52px;
	height: 2px;
	background: #34C759;
}
%r-link {
	display: inline-flex;
	padding: 12.5px 16px;
	font-weight: 900;
	font-size: 10px;
	letter-spacing: 1.25px;
	text-transform: uppercase;
	background: rgba(0, 0, 0, 0.3);
	border-radius: 4px;
	.r-link {
		color: rgba(255, 255, 255, 0.8);
	}
}
//-----------------------------------

.wrapper {
	// .wrapper__header
	position: relative;
	font-family: 'Helvetica Neue';
	&__header {
		min-height: 90px;
		background: rgba(26, 26, 26, 0.8);
	}
}
.header {
	// .header__container
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	padding: 0 15px;
	border-bottom: 2px solid rgba(255, 255, 255, 0.1);
	z-index: 10;
	&__container {
		position: relative;
	}

	// .header__body

	&__body {
		min-height: 90px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: 15px;
		@media (max-width: 768px) {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			row-gap: 18px;
		}
	}

	// .header__logo

	&__logo {
		@media (max-width: 768px) {
			justify-content: flex-start;
		}
	}

	// .header__list

	&__list {
		display: inline-flex;
		flex: 0 1 303px;
		column-gap: 10px;
		justify-content: space-between;
		@media (max-width: 768px) {
			justify-content: space-evenly;
			flex: 0 1 auto;
			display: flex;
			align-self: stretch;
		}
	}

	// .header__link

	&__link {
		font-weight: bold;
		font-size: 14px;
		color: #FFFFFF;
		&:hover {
			color: #34C759;
		}
	}
}
.main {
	flex: 1 1 auto;
}
.top {
	position: relative;
	z-index: 5;
	padding: 160px 0 36.5% 0;
	margin: 0 -5px;
	background: url("../img/main-top/top-bg.jpg")0 0/cover no-repeat;
	text-align: center;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	@media (max-width: 1940px) {
		padding: 160px 0 36.5% 0;
	}
	@media (max-width: 991.98px) {
		padding-bottom: 25%;
		padding-top: 125px;
	}
	@media (max-width: 767.98px) {
		padding-bottom: 25%;
	}
	// .top__container


	// .top__description

	&__description {
		font-size: 16px;
		line-height: 26px;
		letter-spacing: -0.2px;
		color: #FFFFFF;
		display: inline-flex;
		padding: 0 23px;
		opacity: 0.7;
		max-width: 595px;
		margin-bottom: 40px;
	}

	// .top__btn

	&__btn {
		margin-bottom: 70px;
		@media (max-width: 767.98px) {
			margin-bottom: 35px;
		}
	}

	// .top__link

	&__link {
		display: inline-flex;
		min-height: 72px;
		padding: 0 58px;
		align-items: center;
		background: #34C759;
		border-radius: 43px;
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
		letter-spacing: 0.2em;
		color: #1A1A1A;
	}

	// .top__items

	&__items {
		display: flex;
		margin: 0 -10px;
		justify-content: space-between;
		padding: 0 97px;
		@media (max-width: 767.98px) {
			display: block;
			padding: 0;
			&>*:not(:last-child) {
				margin-bottom: 15px;
			}
		}
	
		.item {
			padding: 0 10px;
			flex: 1 1 33.333%;
			padding: 5px 15px 0 15px;
			display: flex;
			flex-direction: column;

			// .item__img
		
			&__img {
				display: flex;
				height: 18px;
				justify-content: center;
				align-items: center;
				margin-bottom: 16px;
			}

			& img {
				max-width: 18px;	
			}
		
			// .item__date
		
			&__date {
				font-size: 16px;
				line-height: 30px;
				color: #FFFFFF;
				flex: 1 1 auto;
				& a {
					font-size: 16px;
					line-height: 30px;
					color: #FFFFFF;
				}
			}
		
			// .item__name
		
			&__name {
				font-size: 14px;
				line-height: 1.5;
				color: #FFFFFF;
				opacity: 0.5;
			}
		}
	}
}
.logo {
	font-size: 72px;
	font-weight: normal;
	letter-spacing: 0.1em;
	text-transform: capitalize;
	color: rgba(255, 255, 255, 0.7);
  	margin-bottom: 16px;
	@media (max-width: 991.98px) {
		font-size: 60px;
	}
	@media (max-width: 767.98px) {
		font-size: 40px;
	}
	@media (max-width: 500px) {
		font-size: 32px;
	}
	  
	// .logo__bold

	&__bold {
		font-weight: 700;
		color: #FFFFFF;
	}
}
.work {
	// .work__top
	&__top {
		padding: 60px 0 30px 0;
	}
	// .work__lable
	&__lable {
		padding: 30px 118px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		@extend %lable;
		@media (max-width: 767.98px) {
			.lable {
				font-size: 80px;
			}
			.sub-lable {
				font-size: 16px;
				transform: translate(-50%, -50%);
			}
		}
	}
	&__hr {
		margin-bottom: 59px;
		margin: 0 auto;
		@extend %hr;
	}
}
.work {
	// .work__items
	&__items {
		display: flex;
		margin: 0 -15px;
		row-gap: 20px;
		padding-top: 34px;
		flex-wrap: wrap;
		@media (max-width: 767.98px) {
			margin: 0 -7px;
		}
	}
	// .work__item
	&__item {
		flex: 1 1 25%;
		max-width: 50%;
		padding: 0 15px;
		min-width: 242.5px;
		@media (max-width: 767.98px) {
			padding: 0 7px;
		}
		@media (max-width: 600px) {
			max-width: 100%;
			min-width: 292px;
		}
	}
}
.item-work {
	background: #252525;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	padding: 24px 24px 42px 24px;
	color: #FFFFFF;
	height: 100%;
	&:hover {
		background: #34C759;
		color: #191919;
	}
	&:hover .hr {
		background: #191919;
	}
	&:hover &__text {
		color: #191919;
	}
	// .item-work__lable
	&__lable {
	font-size: 22px;
	line-height: 1;
	letter-spacing: -0.275px;
	text-transform: capitalize;
	margin-bottom: 20px;
	}
	&__hr {
		margin-bottom: 24px;
	}
	// .item-work__text
	&__text {
		font-size: 13px;
		line-height: 18px;
		letter-spacing: -0.1625px;
		color: rgba(255, 255, 255, 0.5);
		flex: 1 1 auto;
	}
}
.hr {
	@extend %hr;
}
.dishes {
	// .dishes__top
	&__top {
		padding: 60px 0 30px 0;

	}
	// .dishes__lable
	&__lable {
		padding: 30px 118px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		@extend %lable;
		margin-bottom: 28px;
		@media (max-width: 991.98px) {
			padding: 20px 0;
			.sub-lable {
				font-size: 20px;
				margin-bottom: 20px;
			}
		}
		@media (max-width: 767.98px) {
			.lable {
				font-size: 70px;
			}
			.sub-lable {
				font-size: 14px;
			}
		}
	}
	&__hr {
		margin: 0 auto;
	}
	// .dishes__items
	&__items {
		padding-top: 30px;
		margin: 0 -15px;
		display: flex;
		flex-wrap: wrap;
		row-gap: 30px;
	}
	// .dishes__item
	&__item {
		padding: 0 15px;
		flex: 1 1 33.333%;
		min-height: 100%;
		min-width: 320px;
	}
}
.item-dishes {
	background: #252525;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	&:hover .item-dishes__btn a {
		background: #34C759;
		color: #252525;
	}	
	// .item-dishes__img
	&__img {
		position: relative;
		padding-bottom: 72.222%;
	}
	// .item-dishes__bg
	&__bg {
		border-radius: 6px 6px 0 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	// .item-dishes__link
	&__link {
		position: absolute;
		z-index: 3;
		top: 6.857%;
		right: 6.857%;
	}
	// .item-dishes__body
	&__body {
		padding: 29px 30px 28px 30px;
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
	}
	// .item-dishes__lable
	&__lable {
		font-size: 32px;
		line-height: 30px;
		color: #D9D9D9;
		margin-bottom: 5px;
	}
	// .item-dishes__sublable
	&__sublable {
		font-size: 12px;
		line-height: 18px;
		letter-spacing: -0.15px;
		color: #A4A8B2;
		margin-bottom: 20px;
	}
	// .item-dishes__text
	&__text {
		font-size: 13px;
		line-height: 18px;
		letter-spacing: -0.16px;
		color: #85878C;
		margin-bottom: 20px;
		flex: 1 1 auto;
		align-self: stretch;
	}
	// .item-dishes__btn

	&__btn a {
		display: inline-flex;
		min-height: 40px;
		padding: 0 32px;
		font-weight: 900;
		font-size: 10px;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: rgba(255, 255, 255, 0.5);
		border-radius: 30px;
		border: 2px solid #303030;
		align-items: center;
	}
}
.rating {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	align-items: center;
	@media (max-width: 1140px) {
		flex-direction: column;
		align-items: center;
	}
	// .rating__wrap
	&__wrap {
		column-gap: 14px;
		max-width: 155px;
		height: 19px;
		display: flex;
		align-items: center;
		@media (max-width: 1140px) {
			display: inline-flex;
			justify-content: center;
		}
	}
	// .rating__stat
	&__stat {
		position: relative;
		padding-bottom: 15.833%;
		flex: 0 0 130px;
		height: 19px;
		
	}
	&__stat img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: fill;
	}
	// .rating__namber
	&__namber {
		font-weight: 900;
		font-size: 12px;
		letter-spacing: 1.5px;
		color: #B3B3B3;
	}
}

.recipes {
	// .recipes__container
	&__container {
	}
	// .recipes__body
	&__body {
	}
	// .recipes__top
	&__top {
		padding: 60px 0 30px 0;
	}
	// .recipes__lable
	&__lable {
		padding: 30px 0;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		@extend %lable;
		margin-bottom: 28px;
		@media (max-width: 767.98px) {
			.lable {
			font-size: 60px;
			}
			.sub-lable {
				font-size: 14px;
			}
		}
	}
	// .recipes__hr
	&__hr {
		margin: 0 auto;
	}
	// .recipes__content
	&__content {
		padding-top: 30px;
		margin: 0 -15px;
		display: flex;
		@media (max-width: 767.98px) {
			flex-direction: column;
			row-gap: 15px;
		}
	}
	// .recipes__left
	&__left {
		padding: 0 15px;
		flex: 1 1 50%;
	}
	// .recipes__img
	&__img {
		position: relative;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
		border-radius: 6px;
		padding: 11.11% 0;
		display: flex;
		flex-direction: column;
		align-items: center;		
	}
	&__arrow {	
		padding: 15px;
		border-radius: 50%;
		top: 5.5%;
		right: 5.5%;
		background-color: rgba(0, 0, 0, 0.1);
		position: absolute;
		z-index: 3;
	}
	&__img>img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 6px;
		object-fit: cover;
	}
	// .recipes__btn
	&__btn {
		@extend %r-link;
		position: relative;
		z-index: 4;
		margin-bottom: 15.1%;
	}
	// .recipes__date
	&__date {
		font-size: 14px;
		color: rgba(255, 255, 255, 0.8);
		z-index: 4;
		margin-bottom: 4.62%;
	}
	// .recipes__logo
	&__logo {
		font-size: 24px;
		line-height: 40px;
		color: rgba(255, 255, 255, 0.8);
		z-index: 4;
		text-align: center;
		margin-bottom: 8.333%;
		max-width: 411px;
	}
	// .recipes__name
	&__name {
		font-size: 14px;
		color: rgba(255, 255, 255, 0.8);
		z-index: 4;
		margin-bottom: 15.1%;
	}
	// .recipes__items
	&__items {
		padding: 0 15px;
		flex: 1 1 50%;
	}
	&__right-wrap{
		display: flex;
		flex-direction: column;
		row-gap: 30px;
		@media (max-width: 767.98px) {
			row-gap: 15px;
		}
	}
	// .recipes__item
	&__item {
	}
}
.elements {
	display: inline-flex;
	z-index: 4;
	column-gap: 24px;
	& span {
		font-weight: bold;
	font-size: 12px;
	color: #FFFFFF;
	}
	// .elements__left
	&__left {
		column-gap: 14px;
		display: inline-flex;
		align-items: center;
	}
	// .elements__right
	&__right {
		column-gap: 14px;
		display: inline-flex;
		align-items: center;
	}
}
.item-recipes {
	padding: 5.55% 5.55% 3.7% 5.55%;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	font-size: 16px;
	line-height: 1.5;
	display: flex;flex-direction: column;
	row-gap: 10px;
	// .item-recipes_1
	&_1 {
		background: #252525;
		color: rgba(217, 217, 217, 0.8);
	}
	// .item-recipes_2
	&_2 {
		background: url("../img/recipes/image-small.jpg")0 0/cover no-repeat;
		color: rgba(217, 217, 217, 0.8);
	}
	// .item-recipes_3
	&_3 {
		background: #34C759;
	}
	// .item-recipes__text
	&__text {
		margin-bottom: 10px;
		&_color {
			color: #252525;
		}
	}
	// .item-recipes__bottom
	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 380px) {
			flex-direction: column;
			align-items: center;
			row-gap: 25px;
			.item-recipes__date {
				position: relative;
				top: 4px;
			}
		}
	}
	// .item-recipes__wrap
	&__wrap {
		display: inline-flex;
		column-gap: 15px;
	}
	&__wrap .r-link {
		@extend %r-link;
		line-height: 1;
		color: #fff
	}
	// .item-recipes__date
	&__date {
		font-size: 12px;
		line-height: 25px;
		color: rgba(255, 255, 255, 0.65);
	}
}

.footer {
	padding: 25px 0;
	border-top: 2px solid rgba(255, 255, 255, 0.1);
	// .footer__container
	&__container {
		display: flex;
		justify-content: center;
		padding: 0 15px;
	}
	// .footer__btn
	&__btn {
		color: #fff;
		font-size: 20px;
		text-transform: uppercase;
	}
}

[class*="__container"] {
	margin: 0 auto 0 auto;
	max-width: 1140px;
	padding: 0 15px;
}

@media (max-width: 1140px) {
	[class*="__container"] {
		max-width: 970px;
	}
}

@media (max-width: 991.98px) {
	[class*="__container"] {
		max-width: 750px;
	}
}

@media (max-width: 767.98px) {
	[class*="__container"] {
		max-width: none;
	}
	
}
